---
layout: default
title: "Contact"
description: ""
header-img: "img/home-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- English Version -->
            <div class="en post-container">

            <br>
               
            You can get in touch via email or find me at some of my favorite spots.

                <ul class="contact">
                    <li><strong>Email:</strong> <a href="mailto:hxtunq@gmail.com">hxtunq@gmail.com</a> | <a href="mailto:concealedcharacterx@gmail.com">concealedcharacterx@gmail.com</a></li>
                    <li><strong>Place:</strong> Hanoi University of Science and Technology | Other recommended <a href="https://maps.app.goo.gl/UmcaU3WdBH1uFqth8" target="_blank" rel="noopener noreferrer">locations</a>.</li>
                </ul>

            <p>Here's my usual availability if you'd like to meet or hang out.</p>

            <iframe class="calendar-iframe" src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FHo_Chi_Minh&showPrint=0&title=Tung's%20Availability&showTabs=0&showCalendars=0&src=bHZya3FwOGs0dGQzaGZvcnFxamdoZGFpb3NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=Z2RobmZudjBscHMxcm00dWxuODR1aW84dDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=YW50am5ndjRhbjgwZTRkMzV1ZjNqOG80dmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=YjVydnNqaXFhNGpra3ZnODkxYmNocjN0MjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23928daf&color=%2395b9cc&color=%23c69080&color=%23ccb9a3" style="border:solid 1px #777" width="800" height="400" frameborder="0" scrolling="no"></iframe>

            </div>
        </div>
    </div>
</div>

<style>
ul.contact {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 30px;
}
ul.contact li, ol.contact li {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.7;
}
</style>