---
layout: default
title: "Diary"
description: "Personal diary entries"
header-img: "img/home-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% assign diaries = site.diary | sort: 'date' | reverse %}
            {% for post in diaries %}
            <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% endif %}
                    <div class="post-content-preview">
                        {{ post.content | strip_html | truncate:200 }}
                    </div>
                </a>

                <div class="post-meta-tags">
                    {% if post.tags %}
                    <div class="post-tags">
                        <span class="tag-label">Tags:</span>
                        {% for tag in post.tags %}
                        <span class="post-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
                </div>
            </div>
            <hr class="post-divider">
            {% endfor %}
        </div>
    </div>
</div>

<style>
.post-content-preview{color:#444}
</style>

